/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.row > *, .container-fluid, .container {
  padding-left: calc(var(--gutter-x) * 0.5);
  padding-right: calc(var(--gutter-x) * 0.5);
}

.container-fluid, .container {
  --gutter-x: 30px;
  --gutter-y: 0;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--gutter-y) * -1);
  margin-left: calc(var(--gutter-x) * 0.5 * -1);
  margin-right: calc(var(--gutter-x) * 0.5 * -1);
}
.row > * {
  margin-top: var(--gutter-y);
}

.col {
  flex: 1 0;
  width: 100%;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-0 {
  margin-left: 0%;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.g-0,
.gx-0 {
  --gutter-x: 0px;
}

.g-0,
.gy-0 {
  --gutter-y: 0px;
}

.g-1,
.gx-1 {
  --gutter-x: 7.5px;
}

.g-1,
.gy-1 {
  --gutter-y: 7.5px;
}

.g-2,
.gx-2 {
  --gutter-x: 15px;
}

.g-2,
.gy-2 {
  --gutter-y: 15px;
}

.g-3,
.gx-3 {
  --gutter-x: 30px;
}

.g-3,
.gy-3 {
  --gutter-y: 30px;
}

.g-4,
.gx-4 {
  --gutter-x: 45px;
}

.g-4,
.gy-4 {
  --gutter-y: 45px;
}

.g-5,
.gx-5 {
  --gutter-x: 90px;
}

.g-5,
.gy-5 {
  --gutter-y: 90px;
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
    padding-left: 0;
    padding-right: 0;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0%;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .g-sm-0,
  .gx-sm-0 {
    --gutter-x: 0px;
  }
  .g-sm-0,
  .gy-sm-0 {
    --gutter-y: 0px;
  }
  .g-sm-1,
  .gx-sm-1 {
    --gutter-x: 7.5px;
  }
  .g-sm-1,
  .gy-sm-1 {
    --gutter-y: 7.5px;
  }
  .g-sm-2,
  .gx-sm-2 {
    --gutter-x: 15px;
  }
  .g-sm-2,
  .gy-sm-2 {
    --gutter-y: 15px;
  }
  .g-sm-3,
  .gx-sm-3 {
    --gutter-x: 30px;
  }
  .g-sm-3,
  .gy-sm-3 {
    --gutter-y: 30px;
  }
  .g-sm-4,
  .gx-sm-4 {
    --gutter-x: 45px;
  }
  .g-sm-4,
  .gy-sm-4 {
    --gutter-y: 45px;
  }
  .g-sm-5,
  .gx-sm-5 {
    --gutter-x: 90px;
  }
  .g-sm-5,
  .gy-sm-5 {
    --gutter-y: 90px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
    padding-left: 0;
    padding-right: 0;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0%;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .g-md-0,
  .gx-md-0 {
    --gutter-x: 0px;
  }
  .g-md-0,
  .gy-md-0 {
    --gutter-y: 0px;
  }
  .g-md-1,
  .gx-md-1 {
    --gutter-x: 7.5px;
  }
  .g-md-1,
  .gy-md-1 {
    --gutter-y: 7.5px;
  }
  .g-md-2,
  .gx-md-2 {
    --gutter-x: 15px;
  }
  .g-md-2,
  .gy-md-2 {
    --gutter-y: 15px;
  }
  .g-md-3,
  .gx-md-3 {
    --gutter-x: 30px;
  }
  .g-md-3,
  .gy-md-3 {
    --gutter-y: 30px;
  }
  .g-md-4,
  .gx-md-4 {
    --gutter-x: 45px;
  }
  .g-md-4,
  .gy-md-4 {
    --gutter-y: 45px;
  }
  .g-md-5,
  .gx-md-5 {
    --gutter-x: 90px;
  }
  .g-md-5,
  .gy-md-5 {
    --gutter-y: 90px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
    padding-left: 0;
    padding-right: 0;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0%;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .g-lg-0,
  .gx-lg-0 {
    --gutter-x: 0px;
  }
  .g-lg-0,
  .gy-lg-0 {
    --gutter-y: 0px;
  }
  .g-lg-1,
  .gx-lg-1 {
    --gutter-x: 7.5px;
  }
  .g-lg-1,
  .gy-lg-1 {
    --gutter-y: 7.5px;
  }
  .g-lg-2,
  .gx-lg-2 {
    --gutter-x: 15px;
  }
  .g-lg-2,
  .gy-lg-2 {
    --gutter-y: 15px;
  }
  .g-lg-3,
  .gx-lg-3 {
    --gutter-x: 30px;
  }
  .g-lg-3,
  .gy-lg-3 {
    --gutter-y: 30px;
  }
  .g-lg-4,
  .gx-lg-4 {
    --gutter-x: 45px;
  }
  .g-lg-4,
  .gy-lg-4 {
    --gutter-y: 45px;
  }
  .g-lg-5,
  .gx-lg-5 {
    --gutter-x: 90px;
  }
  .g-lg-5,
  .gy-lg-5 {
    --gutter-y: 90px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
    padding-left: 0;
    padding-right: 0;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0%;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xl-0,
  .gx-xl-0 {
    --gutter-x: 0px;
  }
  .g-xl-0,
  .gy-xl-0 {
    --gutter-y: 0px;
  }
  .g-xl-1,
  .gx-xl-1 {
    --gutter-x: 7.5px;
  }
  .g-xl-1,
  .gy-xl-1 {
    --gutter-y: 7.5px;
  }
  .g-xl-2,
  .gx-xl-2 {
    --gutter-x: 15px;
  }
  .g-xl-2,
  .gy-xl-2 {
    --gutter-y: 15px;
  }
  .g-xl-3,
  .gx-xl-3 {
    --gutter-x: 30px;
  }
  .g-xl-3,
  .gy-xl-3 {
    --gutter-y: 30px;
  }
  .g-xl-4,
  .gx-xl-4 {
    --gutter-x: 45px;
  }
  .g-xl-4,
  .gy-xl-4 {
    --gutter-y: 45px;
  }
  .g-xl-5,
  .gx-xl-5 {
    --gutter-x: 90px;
  }
  .g-xl-5,
  .gy-xl-5 {
    --gutter-y: 90px;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1170px;
    padding-left: 0;
    padding-right: 0;
  }
  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xxl-0 {
    margin-left: 0%;
  }
  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xxl-0,
  .gx-xxl-0 {
    --gutter-x: 0px;
  }
  .g-xxl-0,
  .gy-xxl-0 {
    --gutter-y: 0px;
  }
  .g-xxl-1,
  .gx-xxl-1 {
    --gutter-x: 7.5px;
  }
  .g-xxl-1,
  .gy-xxl-1 {
    --gutter-y: 7.5px;
  }
  .g-xxl-2,
  .gx-xxl-2 {
    --gutter-x: 15px;
  }
  .g-xxl-2,
  .gy-xxl-2 {
    --gutter-y: 15px;
  }
  .g-xxl-3,
  .gx-xxl-3 {
    --gutter-x: 30px;
  }
  .g-xxl-3,
  .gy-xxl-3 {
    --gutter-y: 30px;
  }
  .g-xxl-4,
  .gx-xxl-4 {
    --gutter-x: 45px;
  }
  .g-xxl-4,
  .gy-xxl-4 {
    --gutter-y: 45px;
  }
  .g-xxl-5,
  .gx-xxl-5 {
    --gutter-x: 90px;
  }
  .g-xxl-5,
  .gy-xxl-5 {
    --gutter-y: 90px;
  }
}
* {
  box-sizing: border-box;
}

:root {
  --primary-color: #936cdd;
  --second-color: #201830;
  --third-color: #665f73;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Plus_Jakarta_Sans", sans-serif;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

button,
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

button {
  border: none;
  outline: none;
}

img {
  display: block;
}

.heading-lv1,
.heading-lv2,
.heading-lv3 {
  color: var(--second-color);
  font-weight: 700;
}

.heading-lv1 {
  font-size: 7rem;
  line-height: 1.14286;
}
.heading-lv2 {
  font-size: 4.2rem;
  line-height: 1.2381;
}
.heading-lv3 {
  font-size: 2rem;
  line-height: 1.5;
}

.desc-lv1,
.desc-lv2,
.desc-lv3 {
  color: var(--third-color);
}

.desc-lv1 {
  font-size: 1.8rem;
  line-height: 1.66667;
}
.desc-lv2 {
  font-size: 1.6rem;
  line-height: 1.75;
}
.desc-lv3 {
  font-size: 1.4rem;
  line-height: 1.71429;
}

.btn {
  --height: 64px;
  display: inline-block;
  min-width: 157px;
  text-align: center;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 8px;
  height: var(--height);
  line-height: var(--height);
  background: var(--primary-color);
}
.btn:hover {
  opacity: 0.9;
}

.header {
  padding-top: 42px;
  background: #fff8f3;
}
.header__row {
  display: flex;
  align-items: center;
}
.header .nav__link, .header__btn {
  padding: 8px 24px;
  color: var(--third-color);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
  transition: color 0.3s;
}
.header__btn {
  color: var(--second-color);
  font-weight: 600;
}
.header .btn {
  --height: 48px;
  min-width: 116px;
  font-size: 1.6rem;
  background: var(--second-color);
}

.nav {
  margin-left: auto;
  margin-right: 144px;
}
.nav__list {
  display: flex;
  align-items: center;
}
.nav__item:hover .nav__link {
  color: var(--second-color);
}
.nav__item-menu {
  position: relative;
}
.nav__item-menu .nav__link {
  display: flex;
  align-items: center;
  column-gap: 7px;
}
.nav__item-menu .nav__link::after {
  content: url(../../assets/icon/arrow-down.svg);
  transition: transform 0.3s;
}
.nav__item-menu:hover .nav__link::after {
  transform: rotate(-180deg);
}
.nav__item-menu:hover .menu {
  display: block;
}

.menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  background: #fff;
}
.menu__item {
  border-bottom: 1px solid rgba(102, 95, 115, 0.2);
  transition: background 0.3s;
}
.menu__item:hover {
  cursor: pointer;
  background: #fff8f3;
}
.menu__item-link {
  display: inline-block;
  padding: 8px 22px;
  color: var(--third-color);
}

.hero {
  padding: 110px 0 140px;
  background: #fff8f3;
}
.hero .row > div:last-child {
  align-self: center;
}
.hero__img-wrap {
  position: relative;
  border-radius: 8px;
  background: #f0ae8c;
}
.hero__img {
  width: 100%;
  border-radius: inherit;
  object-fit: cover;
}
.hero__audio {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  display: inline-flex;
  align-items: center;
  column-gap: 12px;
  padding: 17px 21px;
  border-radius: 9px;
  background: #fff;
}
.hero__audio-play {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  color: var(--primary-color);
  border: 1px solid currentColor;
}
.hero__audio-wave {
  display: inline-flex;
  align-items: center;
  column-gap: 6px;
}
.hero__audio-item {
  display: inherit;
}
.hero__audio-item:nth-child(-n+7) {
  color: var(--second-color);
}
.hero__audio-item:nth-child(n+8) {
  color: #a4a0ab;
}
.hero__listener {
  margin-top: 53px;
}
.hero__listener-desc {
  color: var(--second-color);
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.71429;
}
.hero__listener-avatars {
  margin-top: 10px;
  display: flex;
}
.hero__listener-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--second-color);
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.83333;
}
.hero__listener-avatar img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: cover;
}
.hero__listener-avatar + .hero__listener-avatar {
  margin-left: -18px;
}
.hero .col-3:nth-child(2) .hero__img-wrap {
  background: #7ba867;
}
.hero__podcast {
  position: relative;
  margin: 8px 0 0 43.7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 82px;
  height: 82px;
  border-radius: 50%;
  background: #ff9051;
}
.hero__podcast b {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 800;
  line-height: 1;
}
.hero__podcast span {
  margin-top: 4px;
  color: #ffefe7;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
}
.hero__podcast-decor {
  position: absolute;
}
.hero__podcast-decor:nth-of-type(1) {
  left: -65px;
  bottom: 2px;
}
.hero__podcast-decor:nth-of-type(2) {
  right: -6px;
  bottom: -44px;
}
.hero__podcasts-app {
  margin: 12px 0 28px;
  display: flex;
  align-items: center;
  column-gap: 18px;
}
.hero__img-info {
  position: absolute;
  left: 50%;
  bottom: 16px;
  transform: translateX(-50%);
  text-align: center;
  padding: 14px 20px;
  width: 194px;
  border-radius: 9px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 12px 44px 0px rgba(0, 0, 0, 0.07);
  backdrop-filter: blur(5px);
}
.hero__img-name {
  color: var(--second-color);
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1;
}
.hero__img-desc {
  margin-top: 6px;
  color: var(--third-color);
  font-size: 1.2rem;
  line-height: 1;
}
.hero__heading {
  position: relative;
  z-index: 1;
}
.hero__heading::after {
  content: url(../../assets/icon/hero-decor-02.svg);
  position: absolute;
  left: 30px;
  bottom: 56px;
  z-index: -1;
}
.hero__desc {
  margin-top: 20px;
}
.hero__cta {
  margin-top: 40px;
  display: flex;
  align-items: center;
  column-gap: 28px;
}
.hero__cta--action {
  display: flex;
  align-items: center;
  column-gap: 8px;
  color: var(--second-color);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66667;
}
.hero__cta--action-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: var(--second-color);
}
.hero__cta--action:hover {
  text-decoration: underline;
}

.podcast {
  margin-top: 205px;
}
.podcast .row {
  align-items: center;
}
.podcast__heading {
  position: relative;
}
.podcast__heading::after {
  content: url(../../assets/icon/podcast-decor-01.svg);
  position: absolute;
  right: 56px;
  bottom: -19px;
  z-index: -1;
}
.podcast__desc {
  margin-top: 18px;
}
.podcast .btn {
  margin-top: 38px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
}
.podcast .btn span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  color: var(--primary-color);
  background: #fff;
}
.podcast__logos {
  position: relative;
}
.podcast__logo {
  position: absolute;
}
.podcast__logo:nth-child(1) {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.podcast__logo:nth-child(2) {
  top: -56px;
  left: 50%;
  transform: translateX(-68%);
}
.podcast__logo:nth-child(3) {
  top: 3px;
  right: 0;
}
.podcast__logo:nth-child(4) {
  left: 50%;
  bottom: -56px;
  transform: translateX(-92%);
}
.podcast__logo:nth-child(5) {
  right: 48px;
  bottom: -16px;
}
.podcast__circle {
  margin: 0 auto;
  width: 287px;
  height: 287px;
  border-radius: 50%;
  opacity: 0.4;
  background: #ff9051;
  filter: blur(129px);
}

/*# sourceMappingURL=main.css.map */
