@use '../abstracts/variables';

.header {
    padding-top: 42px;
    background: #fff8f3;

    &__row {
        display: flex;
        align-items: center;
    }

    .nav__link,
    &__btn {
        padding: 8px 24px;
        color: var(--third-color);
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.75;
        transition: color 0.3s;
    }

    &__btn {
        color: var(--second-color);
        font-weight: 600;
    }

    .btn {
        --height: 48px;

        min-width: 116px;
        font-size: 1.6rem;
        background: var(--second-color);
    }
}

.nav {
    margin-left: auto;
    margin-right: 144px;

    &__list {
        display: flex;
        align-items: center;
    }

    &__item:hover {
        .nav__link {
            color: var(--second-color);
        }
    }

    &__item-menu {
        position: relative;

        .nav__link {
            display: flex;
            align-items: center;
            column-gap: 7px;

            &::after {
                content: url(../../assets/icon/arrow-down.svg);
                transition: transform 0.3s;
            }
        }

        &:hover .nav__link::after {
            transform: rotate(-180deg);
        }

        &:hover .menu {
            display: block;
        }
    }
}

.menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background: #fff;

    &__item {
        border-bottom: 1px solid rgba($color: variables.$third-color, $alpha: 0.2);
        transition: background 0.3s;

        &:hover {
            cursor: pointer;
            background: #fff8f3;
        }
    }

    &__item-link {
        display: inline-block;
        padding: 8px 22px;
        color: var(--third-color);
    }
}
